@charset "UTF-8";


/*  
    cor telefone - #131A24
    cor 01 - #6EACDF 
    cor 02 - #273E50
    cor 03 - #172028
*/

:root {
    --cor01: #6EACDF;
    --cor02: #273E50;
    --cor03: #172028;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: #131A24;
    color: white;
}

header > nav {
    background-color: var(--cor02);
    padding: 10px;
}

ul > li {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
}

li > a:hover {
    background-color: #3f6581;
    color: #15222c;
    border-radius: 5px;
    transition-duration: 0.2s;
}

iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60vw;
    height: 50vh;
}

img.gatos {
    width: 15vw;
    height: 15vh;
}

footer {
    padding: 10px;
    background-color: #273E50;
    text-align: center;
}

p > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

p > a:hover {
    text-decoration: underline;
    transition-duration: 1s;
}