@charset "UTF-8";

@media screen and (max-width: 769px) {

    :root {
        --cor01: #6EACDF;
        --cor02: #273E50;
        --cor03: #172028;
    }

    ::-webkit-scrollbar {
        width: 0px;
    }
    
    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    body, html {
        background-color: #131A24;
        color: white;
    }
    
    header > nav {
        background-color: var(--cor02);
        padding: 20px;
    }
    
    ul > li {
        display: inline-block;
    }
    
    li > a {
        color: white;
        text-decoration: none;
        padding: 15px;
    }
    
    li > a:hover {
        background-color: #3f6581;
        color: #15222c;
        border-radius: 5px;
        transition-duration: 0.2s;
    }
    
    section#tela {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    iframe {
        width: 300px;
        height: 200px;
    }
    
    section#gatos {
        padding-top: 400px;
        padding-bottom: 70px;
    }
    
    div.gatodiv {
        display: inline;
    }
    
    img.gatos {
        width: 60px;
        height: 60px;
    }

    div.gatodiv > a {
        color: white;
        text-decoration: none;
    }
    
    section#descricao {
        width: 300px;
    
        background-color: #273E50;
    
        margin: auto;
        border-radius: 10px;
        overflow: hidden;
        padding: 20px;
    }

    section#descricao > h1 {
        padding-bottom: 10px;
    }
    
    section#descricao > p {
        text-align: justify;
        text-indent: 5px;
        padding-bottom: 10px;
    }

    section#botoes {
        display: inline;
        width: 200px;
        height: 50px;

        text-align: center;
    }

    section#botoes > a {
        height: 50px;
        color: white;
        text-decoration: none;
    }

    span#carrinho {
        width: 200px;
        height: 50px;

        background: #6EACDF;

        border-radius: 5px;
    }

    span#favorito {
        width: 100px;
        height: 50px;

        background-color: #3f6581;

        border-radius: 5px;
    }
    
    footer {
        margin-top: 70px;
    
        padding: 10px;
        background-color: #3f6581;
        text-align: center;
    }
    
    p > a {
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }
    
    p > a:hover {
        text-decoration: underline;
        transition-duration: 1s;
    }
}

/*  
    cor telefone - #131A24
    cor 01 - #6EACDF 
    cor 02 - #273E50
    cor 03 - #172028
*/